
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/*! ########## utility ########## */
.debug
{
    border: solid 1px black;
}
.bg-gray
{
    background-color: rgba(211, 211, 211, 0.4);
}

/*? ########## utility ########## */


/*? ########### HEADER ############# */
header
{
    background-color: white;
}
#logo
{
    width: 50px;
    padding: 5px 0px 5px 5px;
}
#logo-title
{
    display: inline-block;
    font-size: 0.8rem;
}

/*? ########### MAIN ############# */
main
{
}
.container
{
    width: 80%;
    height: 500px;
    background-color: white;
    margin: 40px auto;
}
.c-head, .c-main
{
    padding: 10px 0px 10px 20px;
}
/*? ########### C-HEADER ############# */
.c-head
{
    border-bottom: solid 1px lightgray;
}
.btn-blue
{
    
    font-size: 0.5rem;
    padding: 5px 0px;
    background-color: lightblue;
    border-radius: 50px;
}

.btn-white
{
    
    font-size: 0.5rem;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
}
/*? ########### C-MAIN ############# */
.fa-solid
{
    font-size: 0.8rem;
}
/*h2::after
{
    font-family: "Font Awesome 5 Free"
    content: "\f0dd";
} */
section
{
    padding: 10px 0px;
}
section a
{
    text-decoration: none;
}
ul li
{
    list-style-type: none;
    
    padding: 5px;
    font-size: 0.8rem;
}
.btn-custom-red
{
    background-color: rgb(255, 196, 196);
    border-radius: 50px;
    padding: 2px 6px;
}

.btn-custom-blue
{
    background-color: rgb(157, 169, 255);
    border-radius: 50px;
    padding: 2px 6px;
}
.btn-custom-green
{
    background-color: rgb(191, 255, 202);
    border-radius: 50px;
    padding: 2px 6px;
}



