
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/*! utility */
.debug
{
    border: solid 1px black;
}
